@keyframes float {
  0% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    // box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatex(-10px);
  }
  100% {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
  }
}

@mixin swinging {
  animation: swing 2s 2s ease-in-out alternate infinite;
  @include easeOut;
}

.lightbulb {
  position: absolute;
  text-align: center;
  right: 100px;
  width: 300px;
  height: 300px;
  transform-origin: top center;
  box-sizing: border-box;
  overflow: hidden;

  top: 0px;

  // &:hover {
  //   // transform: translatey(0px);
  //   // animation: float 4s ease-in-out infinite;
  // animation-play-state: paused;

  // }

  #bulb {
    width: 34px;
    height: 34px;
    position: relative;
    background: yellow;
    z-index: -1;
    bottom: 56px;
    left: 133px;
    border-radius: 50px;
    // box-shadow: inset 0px 10px 15px -5px rgba(10, 30, 60, 0.1),
    //   0 0 120px 20px #ffff00;

    box-shadow: 0 0 100px 30px #ffff00, inset #524312 0 -1px 9px,
      rgba(251, 255, 0, 0.5) 0 2px 12px;
  }

  img {
    width: 150px;
    height: auto;
  }

  &.red {
    right: 250px;

    #bulb {
      background: #ff073a;
      box-shadow: 0 0 100px 30px red, inset #441313 0 -1px 9px,
        rgba(255, 0, 0, 0.5) 0 2px 12px;
    }
  }

  &.green {
    right: 390px;
    top: -25px;

    #bulb {
      left: 135px;
      background: #4efd54;
      box-shadow: 0 0 100px 30px #59da5e, inset #1a5821 0 -1px 9px,
        rgba(0, 239, 61, 0.98) 0 2px 12px;
      width: 30px;
      height: 30px;
    }
  }

  &.blue {
    right: 150px;
    height: 350px;
    @include swinging;

    #bulb {
      background: #00ffc4;
      box-shadow: 0 0 100px 30px #34a58be6, inset #0d2428 0 -1px 9px,
        rgba(27, 190, 183, 0.73) 0 2px 12px;
    }
  }
}

// Delay each nav item slide by 0.1s

@for $x from 1 through 3 {
  .lightbulb:nth-child(#{$x}) {
    transition-delay: $x * 0.7s;
  }
}

// rozsaszin: #ff49ad
