@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(-3deg);
  }
}

@mixin swinging {
  animation: swing 2s 2s ease-in-out alternate infinite;
  @include easeOut;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  2% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  6% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  13% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  32% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  36% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@mixin flicker {
  animation: flicker 5s infinite linear;
}

@keyframes glow {
  0% {
    transform: translateX(-50%) translateY(-15%) scale(0.5);
  }
  50% {
    transform: translateX(-50%) translateY(-15%) scale(1.15);
  }
  100% {
    transform: translateX(-50%) translateY(-15%) scale(0.5);
  }
}

@keyframes blinkMagenta {
  0% {
    box-shadow: 0 0 50px 10px #ff49ad, inset #84144c 0 -1px 9px 1px,
      #c12eb691 0 2px 12px;
  }
  20% {
    box-shadow: 0 0 70px 20px #ff49ad, inset #84144c 0 -1px 9px 1px,
      #c12eb6d4 0 2px 12px;
  }
  50% {
    box-shadow: 0 0 100px 30px #ff49ad, inset #84144c 0 -1px 9px 1px,
      #c12eb6d4 0 2px 12px;
  }

  75% {
    box-shadow: 0 0 70px 20px #ff49ad, inset #84144c 0 -1px 9px 1px,
      #c12eb6d4 0 2px 12px;
  }

  90% {
    box-shadow: 0 0 40px 10px #ff49ad, inset #84144c 0 -1px 9px 1px,
      #c12eb691 0 2px 12px;
  }

  100% {
    box-shadow: 0 0 50px 10px #ff49ad, inset #84144c 0 -1px 9px 1px,
      #c12eb691 0 2px 12px;
  }
}

.lightbulb {
  position: absolute;
  text-align: center;
  width: 300px;
  height: 300px;
  transform-origin: top center;
  box-sizing: border-box;
  overflow: hidden;

  top: 0px;

  #bulb {
    width: 34px;
    height: 34px;
    position: relative;
    z-index: -1;
    bottom: 56px;
    left: 133px;
    border-radius: 50px;
  }

  img {
    width: 150px;
    height: auto;
  }

  &.yellow {
    right: 100px;
    #bulb {
      background: yellow;
      box-shadow: 0 0 100px 30px #ffff00, inset #524312 0 -1px 9px,
        rgba(251, 255, 0, 0.5) 0 2px 12px;
    }
  }

  &.magenta {
    right: 250px;

    #bulb {
      background: #da036f;
      box-shadow: 0 0 100px 30px #ff49ad, inset #84144c 0 -1px 9px 1px,
        #c12eb6d4 0 2px 12px;
      // @include flicker;
      animation: blinkMagenta 5s ease-in-out infinite;
    }
  }

  &.green {
    right: 390px;
    top: -25px;

    #bulb {
      left: 135px;
      background: #4efd54;
      box-shadow: 0 0 100px 30px #59da5e, inset #1a5821 0 -1px 9px,
        rgba(0, 239, 61, 0.98) 0 2px 12px;
      width: 30px;
      height: 30px;
    }
  }

  &.blue {
    right: 150px;
    height: 350px;
    @include swinging;

    #bulb {
      background: #00ffc4;
      box-shadow: 0 0 100px 30px #34a58be6, inset #0d2428 0 -1px 9px,
        rgba(27, 190, 183, 0.73) 0 2px 12px;
    }
  }
}

// Delay each nav item slide by 0.1s

// @for $x from 1 through 3 {
//   .lightbulb:nth-child(#{$x}) {
//     transition-delay: $x * 0.7s;
//   }
// }

// rozsaszin: #ff49ad
