@import 'config';
@import 'menu';
@import 'lightbulbs';

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Assistant', sans-serif;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0rem;
    text-decoration: underline;
    text-decoration-color: $ternary-color;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem 10rem;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0 1rem 0 0;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }

    &.contact {
      margin-top: 0;
      text-align: center;
    }
  }

  &#home {
    overflow: hidden;
    margin-left: 20vh;
    height: 100vh;
    h1 {
      margin-top: 20vh;
    }
  }
}

#about {
  background: rgba(0, 0, 0, 0.6);

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      'bioimage bio bio'
      'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
      grid-area: bioimage;
      margin: auto;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: $secondary-color 2px solid;
    }

    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    job-1 {
      grid-area: job1;

      table {
        border-spacing: 20px 10px;
      }
    }

    job-2 {
      grid-area: job1;
    }

    job-3 {
      grid-area: job1;
    }

    .job {
      background: lighten($primary-color, 15);
      padding: 0.5rem;
      border-bottom: $secondary-color 5px solid;

      .cv {
        margin-top: 20px;
      }
    }

    span a {
      text-decoration: underline;
      text-decoration-color: $ternary-color;

      &:hover {
        color: $secondary-color;
        text-decoration: none;
      }
    }
  }
}

//Work/Projects

#work {
  background: rgba(0, 0, 0, 0.6);
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;

    .techIcon {
      display: none;
    }

    .image-container {
      position: relative;
      width: 100%;

      .overlay {
        @include easeOut;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #202020a8;
        opacity: 0;
      }

      &:hover {
        .overlay {
          opacity: 0.8;
          border-color: $secondary-color;

          .techIcon {
            display: block;
            opacity: 1;
            position: absolute;
            width: 120px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
          }
        }
      }
    }

    .projectImg {
      width: 100%;
      height: auto;
      min-height: 230px;
      vertical-align: top;
      border: 2px #fff solid;
    }
  }
}

//Contact Page

#contact {
  background: rgba(0, 0, 0, 0.6);
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
      font-size: 1.5rem;
      border: 2px #fff solid;
      padding: 1.5rem;
      margin-bottom: 3rem;
      @include easeOut;

      &:hover {
        // padding: 2rem;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        span {
          color: set-text-color($secondary-color);
        }
      }
    }
  }
}

// Button Styles

.btn-div {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  border: 0;
  margin-bottom: 0.3rem;
  text-align: center;
  width: 49%;
  box-shadow: 0 0 1px 2px #34a58be6, inset #134237 0 0 1px,
    rgba(27, 190, 183, 0.73) 0 -2px 0px;

  &:hover {
    background: #134237;
    color: set-text-color($secondary-color);
    background: #00ffc4;
    box-shadow: 0 0 1px 2px #34a58be6, inset #134237 0 0 1px,
      rgba(27, 190, 183, 0.73) 0 -2px 0px;
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: #00ffc4c2;
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: #777777;
  height: 60px;
  border-top: 2px solid $ternary-color;
}

@import 'mobile';
